@font-face {
    font-family: "bold";
    src: url("fonts/Version_0.3_100_skeletor_avec_Medium.ttf");
}

@font-face {
    font-family: "medium";
    src: url("fonts/Version_0.3_50_skeletor_avec.ttf");
}


@font-face {
    font-family: "thin";
    src: url("fonts/Version_0.3_10_skeletor_avec.ttf");
}

:root {
    --blue: rgb(34, 34, 172);
}

body {
background-color: wheat;
color: var(--blue);
font-family: "medium";
margin: 0;
padding: 0;
overflow: none;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: "bold";
    margin: 0;
    padding-inline:2%;
    padding-block: 2%;
}

h2 {
    padding-inline: 2%;
}



h4 {
    color: wheat;
    background-color: var(--blue);
    width: fit-content;
    padding: 1%;
    border-radius: 10px;
}


p {
    font-size: 1.5em;
  line-height: 1.5em;
  font-family: "medium";
  padding-inline: 2%;
    
}
.left {
    width: 50%;
    background: wheat;
    margin: 0;
    height: 100vh;
    overflow: scroll;
}

.right {
    width: 50%;
    background: wheat;
    margin: 0;
    height: 100vh;
    overflow: scroll;

}

ul li {
    list-style-type: circle;

}

ol li {
    font-size: 1.5em;
    line-height: normal;
    font-family: "bold";
}

ol {
    margin-left: 2%;
}

path {
 stroke: var(--blue)!important;
}

summary {
    display: flex;
    cursor: pointer;
    width: fit-content;
}

.menu {
    font-size: 0.8em;
    width: 80%;
    border-radius: 20px;
}

.protocole {
    font-size: 1.2em;
    font-family: "bold";
}
.menu li {
    padding-block: 1%;
}

img {
    margin-block: 2%;
}



summary:hover {
    border-bottom: solid 4px var(--blue);
    padding: 0;
}

details {
    padding-left: 4%;

}

details[open] {
    border-left: solid 4px var(--blue);
    padding-left: 4%;
    background-color: wheat;
position: relative;
}

details[open] summary {
    border-bottom: solid 4px var(--blue);

}

#casserole {
    position:fixed;
    width: 250px;
    top: 1%;
    right: 1%;
    transform: rotate(10deg);
}

